{% extends "base.html" %}

{% block content %}
<h1>
    <center style="color: white;">Одноглазый Джек</center>
</h1>
<h4 style="color: white;">Правила игры:</h4>
<h4 style="color: white;">Угадай число от 1 до 100. У вас будет 6 попыток. При победе вы получаете +10 к вашему балансу.
    При проигрыше -10</h4>
<style>
                body {background-image: url('/static/phon1.jpeg');
                background-size: cover;}

</style>
<form action="/game 1" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
    <h1></h1>>
        <h5 style="color: white;">Какое число загадано</h5>>
    {{ form.number(class="form-control") }}<br>
    {% for error in form.number.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    <h5 style="color: white;">Первая попытка: {{attempt1}}</h5>
    <h5 style="color: white;">Вторая попытка: {{attempt2}}</h5>
    <h5 style="color: white;">Третья попытка: {{attempt3}}</h5>
    <h5 style="color: white;">Четвёртая попытка: {{attempt4}}</h5>
    <h5 style="color: white;">Пятая попытка: {{attempt5}}</h5>
    <h5 style="color: white;">{{it}}</h5>

</form>
{% endblock %}